/*COLORI
nero: 191815
giallo: ffc500
bianco: f8f4ed
rosa: cca4a3
*/

body {
  margin: 0;
  font-family: 'Helvetica', 'sans-serif';
  color: #191815;
  font-size: 2.1vw;
  background-color: #f8f4ed;
}

.logo-container {
 position: absolute;
 top: 2vw;
 left: 4vw;
 padding: 5px 5px 5px 1.5vw;
 width: 90vw;
 height: auto;
}

.logo-container img {
    padding-right: 1vw;
    width: 10vw;
    min-width: 80px;
    height: auto;
}

.button {
 text-decoration: none; 
 margin-top: auto;
 padding: 5px 15px;
 font-size: 1.3vw;
 font-weight: 200;
 letter-spacing: 3px;
 border: none; /* Rimuove eventuali bordi predefiniti */
 outline: none; /* Rimuove eventuali outline predefiniti */
 background: none; /* Assicura che non ci siano sfondi non desiderati */
}

.button:hover {
 text-decoration: underline;
 font-weight: 500;
}

.title-container {
 width: 90vw;
 max-width: 90%;
 padding: 5vw; 
 text-align: left;
}

h1 {
  font-family: 'Helvetica', sans-serif;
  font-size: 10vw;
  max-width: 90%;
  font-weight: 100;
  letter-spacing: 35px;
  text-align: left;
  color: #191815; 
  margin: 3vw 0;
}


@media (max-width: 768px) {
  .title-container {
    padding-top: 5vw;
    }
    
  h1 {
    font-size: 10vw;
    margin-top: 7vw;
    max-width: 90%;
    letter-spacing: 20px;
  }
    
  .button {
    padding: 5px 5px;
    letter-spacing: 1px;
    font-size: 12px;
    }

  .posters-title {
    font-size: 20px;    
    }
}

@media (max-width: 480px) {
    .title-container {
    padding-top: 5vw;
    }
    
    h1 {
    font-size: 8vw;
    margin-top: 7vw; /* Aumenta lo spazio sopra l'h1 su schermi piccoli */
    max-width: 90%;
    letter-spacing: 10px;
  }
    
 .button {
    padding: 5px 5px;    
    letter-spacing: 1px;
    font-size: 12px;
    }
    
  .posters-title {
    font-size: 20px;    
    }
}


.descrizione {
  font-family: 'Helvetica', sans-serif;
  letter-spacing: 5px;
  font-weight: 200;
  font-size: clamp(12px, 2vw, 30px);
}

.posters-container {
 width: 90vw;
 max-width: 90%;
 padding: 5vw; 
 text-align: left;
}

  .posters-title {
  font-family: 'Helvetica', sans-serif;
  font-size: clamp(18px, 2vw, 80px);
  max-width: 90%;
  font-weight: 800;
  letter-spacing: 2vw;
  text-align: left;
  color: #191815; 
  margin: 3vw 0;
} 
    

a {
  color: #191815;
  font-family: 'Helvetica', sans-serif;   
  text-decoration: underline;
}


.divider {
    max-width: 100vw;
    height: 3px;
    background-color: #191815;
}

.footer-container{
   text-align: left;
   margin-top: 2vw;  
   padding-top: 50px;
   margin: 2vw 5vw 2vw;
}

.footer-container img{
   width:10vw;
}

.footer{
   width: 90vw;
   text-align: left;
   font-family: 'Courier New', sans-serif;
   font-size: 12px;
   font-weight: 100;
   padding-bottom: 50px;
   padding-left: 0px;
}

.link {
   font-family: 'Courier New', sans-serif;
   font-size: 12px;
   font-weight: 100; 
}
